//
//  Environment.swift
//  Runner
//
//  Created by 大羽俊輔 on 2024/06/08.
//

import Foundation

struct Env {
    static var googleMapApiKey: String? {
        Bundle.main.object(forInfoDictionaryKey: "GMSApiKey") as? String
    }
}
