<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoAS8VvN9v1HQHj3eHFsLrGiN9QpsZiCk</string>
	<key>GCM_SENDER_ID</key>
	<string>386742106425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obashun.rowing-navigator</string>
	<key>PROJECT_ID</key>
	<string>rowing-navigator</string>
	<key>STORAGE_BUCKET</key>
	<string>rowing-navigator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386742106425:ios:c665e66c2b64068bd990e8</string>
</dict>
</plist>